@import "tailwindcss";
@import "./loader.css";

@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue"),
    url("./fonts/HelveticaNeue-Roman.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue"),
    url("./fonts/HelveticaNeue-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue"),
    url("./fonts/HelveticaNeue-Thin.woff") format("woff");
  font-weight: 200;
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #000;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  background-color: #fff;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin-bottom: 0.5em;
}

button {
  cursor: pointer;
}

section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}